body {
	margin: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
}

#header {
	background: url(/web/20220120045646im_/http://lingclub.mycpanel.princeton.edu/challenge/images/languages.gif);
../images/languages.gif;
	padding: 0px;
	margin: 0 0 48px;
}

#mainwrapper {
	margin: 0 5%;
}

#titleimage {
	position: absolute;
	top: 138px;
	left: 73px;
	z-index: 1;
	width: 500px;
	height: 81px;




}

#sidebar {
	position: static;
	float: right;
	border-bottom: 3px dotted #666;
	z-index: 2;

}

#maincontent p {
	margin: 0;
	text-align: left;
}
#sidebar p {
	margin: 0 0 12px 0;
}
#footer {
	padding: 12px;
	margin: 48px 0 0 0;
	background: #fff url(/web/20220120045646im_/http://lingclub.mycpanel.princeton.edu/challenge/images/languages.gif);

}
#footer p {
	letter-spacing: 3px;
	font-size: 10px;
	margin: 6px 0px;

}

#sidebar a {width: 180px; padding: 0 3px;}
#sidebar a:link, #sidebar a:visited  {
	color: #6666FF;
	display: block;
	border: 1px ridge #FF3333;
	text-decoration: none;
	background: #FFFFFF;

}

.displaytable {
	font-size: 12px;
	color: #000000;
	text-align: center;
	vertical-align: top;
}

h1, h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin-bottom: 0px;
	margin-top: 14px;
}
.normaltable { width: 540px }

#sidebar a:hover, #sidebar a:active  {
	background-color: #fff;
	border: 1px groove #666;
	color: #999;
}

.normal {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
	padding-top: 10px;
	padding-right: 228px;
	color: #000000;
}

.normalwide {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
	padding-top: 10px;
	color: #000000;
}

.displaytable a:link, .displaytable a:visited  {
	color: #fff;
	display: block;
	padding-left: 5px;
	align: center;
	background-color: #990000;
	border: 1px solid #eee;
	text-decoration: none;
}

.displaytable a:hover, .displaytable a:active  {
	background-color: #fff;
	display: block;
	border: 1px solid #666;
	color: #999;
	padding-left: 5px;
	align: center;
}

.normal a:link, .normal a:visited, .normalwide a:link, .normalwide a:visited {
	color: #FFFFFF; 
	text-decoration: none;
}

.normal a:hover, .normalwide a:hover {
	color: #FF80FF;
	text-decoration: none;
}

.fieldlable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-top: 0px;
	text-align: right;
	font-style: italic;
	color: #000000;
}

.caption {
	text-align: center;
	color: #000000;
	font: 10px/12px "Trebuchet MS", Arial, Helvetica, sans-serif;

}

.bulletlist {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	padding-top: 10px;
	padding-right: 228px;
	padding-left: 20px;
	text-indent: -18px;
	list-style: "../images/BD14514_.GIF" square outside;

}

.bulletlist a:link, .bulletlist a:visited {
	color: #FFFFFF; 
	text-decoration: none;
}

.bulletlist a:hover {
	color: #FF80FF;
	text-decoration: none;
}

.linklist {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
}

.linklist a:link, .linklist a:visited  {
	color: #FFFFFF; 
	text-decoration: none;
}

.linklist a:hover {
	color: #FF80FF;
	text-decoration: none;
}

.calculatorhead {
	font-family: "Trebuchet MS", arial, helvetica, "sans serif";
	font-weight: bold;
	color: #000000;
	background-color: #66CCCC;
}
.author {
	font: italic normal 10px Verdana, Arial, Helvetica, sans-serif;
	padding: 10px 0px 0px;

}

/*
     FILE ARCHIVED ON 04:56:46 Jan 20, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:15:12 Feb 16, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 737.705
  exclusion.robots: 0.068
  exclusion.robots.policy: 0.061
  cdx.remote: 0.05
  esindex: 0.008
  LoadShardBlock: 686.944 (3)
  PetaboxLoader3.resolve: 686.494 (4)
  PetaboxLoader3.datanode: 69.067 (5)
  CDXLines.iter: 16.0 (3)
  load_resource: 157.135
  loaddict: 51.564
*/